<div>
	<script id="changePassword">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-remove"></i> </button>
		    <h4 class="modal-title">{{{dialogTitle}}}</h4>
		</div>
		<div class="modal-body">
			<div class="changePassword">
				<div class="row">
					<div class="col-sm-12">
						<label id="password-feedback" class="help-block"></label>
					</div>
				</div>
				<form name="changePassword" class="form-horizontal">
					<div class="row">
						<div class="col-sm-12">
							{{>modalPassword name="currentPassword" label="changePasswordDialog.currentPassword" hint="changePasswordDialog.currentPassword" value=this.currentPassword}}
							{{>modalPassword name="newPassword" label="changePasswordDialog.newPassword" hint="changePasswordDialog.newPassword" value=this.newPassword}}
							{{>modalPassword name="repeatPassword" label="changePasswordDialog.repeatPassword" hint="changePasswordDialog.repeatPassword" value=this.repeatPassword}}
							
							
							<label class="password-rules control-label col-xs-4">{{i18n "changePasswordDialog.passwordRulesLabel"}}</label>
							<div class="col-xs-8">
								<div class="row lower">
									<i id="lowerRule" class="fa fa-close"></i>
									<label class="password-rules control-label">{{i18n "changePasswordDialog.passwordRules1"}}</label>									
								</div>
								<div class="row upper">
									<i id="upperRule" class="fa fa-close"></i>
									<label class="password-rules control-label">{{i18n "changePasswordDialog.passwordRules2"}}</label>									
								</div>
								<div class="row number">
									<i id="numberRule" class="fa fa-close"></i>
									<label class="password-rules control-label">{{i18n "changePasswordDialog.passwordRules3"}}</label>									
								</div>
								<div class="row special">
									<i id="specialRule" class="fa fa-close"></i>
									<label class="password-rules control-label">{{i18n "changePasswordDialog.passwordRules4"}}</label>									
								</div>
								<div class="row length">
									<i id="lengthRule" class="fa fa-close"></i>
									<label id="minPinLengthLabel" class="password-rules control-label">{{i18n "changePasswordDialog.passwordRules5"}}</label>									
								</div>
							</div>
		        		</div>
		        	</div>	
				</form>
			</div>
		</div>
		<div class="modal-footer">
	       	<button type="button" class="btn btn-primary saveButton">{{i18n "global.saveBtn"}}</button>
	       	<button type="button" class="btn btn-default" data-dismiss="modal">{{i18n "global.cancelBtn"}}</button>
		</div>
	</script>
</div>