<div>
	<!-- RETAILER REPORT -->

	<script id="retailerperformancelist">
	    <div class="datatablesview">
	        <div class="box">
				<div id="dtButtonBarListTemplate" style="display:none;">
					{{#hasPerms "Reports_Add"}}
						<a class="btn btn-primary routerlink" href="#retailerPerformanceReport">{{i18n "reports.retailerPerformanceList.buttonNewReport"}}</a>
					{{/hasPerms}}
	            </div>
	            <div class="box-body">
					<div class="advancedSearchResults">
					    <table class="retailerperformancelisttable tableview table table-bordered" data-sshash-base='retailerPerformanceReportList'>
		       	    	</table>
		        	</div>
	            </div>
	        </div>
	    </div>
	</script>

	<script id="retailerperformance">
	    <div class="datatablesview">
	        <div class="box">
				<div id="dtButtonBarTemplate" style="display:none;">
					{{!-- {{#hasPerms "Batch_Download"}} --}}
						<!-- <button class="btn btn-primary exportReportButton" role="button">{{i18n "global.exportBtn"}}</button> -->
					{{!-- {{/hasPerms}} --}}
	            </div>
	            <div class="box-body">
	            
		            <div class="advancedSearchForm">
					<form id="searchform" name="searchForm" class="form-horizontal">
			        <div>
			            <div>
								<div class="row" style="border-bottom:1px solid #e0e0e0; margin-bottom:15px;">
									<div class="col-sm-6">
										{{>modalInput name="name" label="reports.saveName" hint="reports.saveNameHint" className="novalidate" value=this.name}}
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-xs-4 col-sm-4 control-label">{{i18n "reports.saveDescription"}}</label>
											<div class="col-xs-8 col-sm-8">
												<textarea id="description" type="text" name="description" rows="2" class="form-control novalidate" placeholder='{{i18n "reports.saveDescriptionHint"}}'>{{this.description}}</textarea>
											</div>
										</div>								
									</div>
								</div>	
								<div class="row">
									<div class="col-sm-6">
										<div class="row" style="margin-bottom:15px;">
												<label for="period" class="col-xs-4 col-sm-4 control-label">{{i18n "reports.searchPeriod"}}</label>
												<div class="col-xs-3 col-sm-3">
													{{>modalSelectNoLabel name="period" className="novalidate" data="CURRENT_DAY:reports.period.today,PREVIOUS_DAY:reports.period.yesterday,CURRENT_WEEK:reports.period.thisWeek,PREVIOUS_WEEK:reports.period.lastWeek,CURRENT_MONTH:reports.period.thisMonth,PREVIOUS_30DAYS:reports.period.last30Days,PREVIOUS_MONTH:reports.period.lastMonth,CURRENT_YEAR:reports.period.thisYear,PREVIOUS_YEAR:reports.period.lastYear,:reports.period.custom" }}
												</div>
												<div class="col-xs-5 col-sm-5">
													<div id="period-custom-range" class="row" style="display:none;">
														<div class="col-xs-6">
															<input id="date-from" type="text" name="dateFrom" class="form-control novalidate" placeholder="YYYY-MM-DD" data-date-format="yyyy-mm-dd"  value="{{this.dateFrom}}" />
														</div>
														<div class="col-xs-6">
															<input id="date-to" type="text" name="dateTo" class="form-control novalidate" placeholder="YYYY-MM-DD" data-date-format="yyyy-mm-dd" value="{{this.dateTo}}" />
														</div>
													</div>	
												</div>
										</div>	
										{{>modalSelectTDS name="transactionType" className="novalidate" label="reports.searchTransactionType"  data=":reports.transactionTypeAll,SELL:reports.transactionTypeSell,SELF_TOPUP:reports.transactionTypeSelfTopup,NON_AIRTIME_DEBIT:reports.transactionTypeNonAirtimeDebit,NON_AIRTIME_REFUND:reports.transactionTypeNonAirtimeRefund,REVERSE:reports.transactionTypeReverse,TRANSFER:reports.transactionTypeTransfer,ADJUDICATE:reports.transactionTypeAdjudicate" }}
										{{>modalSelectTDS name="transactionStatus" className="novalidate" label="reports.searchTransactionStatus"  data=":reports.transactionStatusAll,true:reports.transactionStatusSuccess,false:reports.transactionStatusFail" }}
									</div>
									
									<div class="col-sm-6">
									</div>	
								</div>
			            </div>
						<div class="" style="border-top:1px solid #eaeaea; padding-top:10px; margin-bottom:20px;">
			  			  	<div class="form-group">
					        	<div class="pull-right">
		           			 		<button type="submit" class="btn btn-primary viewReportButton">{{i18n "global.previewBtn"}}</button>
									{{#hasPerms "Reports_Update"}}
					           		<button type="button" class="btn btn-primary saveReportButton">{{i18n "global.saveBtn"}}</button>
									{{/hasPerms}}
					           		<!-- <button type="button" class="btn btn-primary scheduleReportButton">{{i18n "global.scheduleBtn"}}</button> -->
					           		<button type="button" class="btn btn-primary exportReportButton">{{i18n "global.exportBtn"}}</button>
									<button type="button" class="btn btn-primary editReportButton">{{i18n "global.editBtn"}}</button>
					           		<button type="button" class="btn btn-default resetReportButton">{{i18n "global.clearBtn"}}</button>
									<button type="button" class="btn btn-default cancelReportButton">{{i18n "global.cancelBtn"}}</button>
									&nbsp;&nbsp;&nbsp;
								</div>
								<div id="report-error-message" class="pull-right" style="display:none;">
									<div id="error_general_message" class="alert alert-danger" style="padding:6px 15px; margin-right:20px;">{{i18n "reports.messageSaveFailed"}}</div>
								</div>
								<div id="report-saved-message" class="label label-success pull-right" style="margin-right:20px; padding:10px; font-size:14px; display:none;">{{i18n "reports.messageSaveSuccess"}}</div>
					    	</div>
						</div>
			        </div>
					</form>	
			    </div>
			    <div class="advancedSearchResults">
				    <table class="retailerperformancetable tableview table table-bordered table-hover table-striped" data-sshash-base='retailerPerformanceReport/{{this.id}}'>
		            </table>
		        </div>
	            </div>
	        </div>
	    </div>
	</script>	
	

	<!-- WHOLESALER REPORT -->

	<script id="wholesalerperformancelist">
	    <div class="datatablesview">
	        <div class="box">
				<div id="dtButtonBarListTemplate" style="display:none;">
					{{#hasPerms "Reports_Add"}}
						<a class="btn btn-primary routerlink" href="#wholesalerPerformanceReport">{{i18n "reports.wholesalerPerformanceList.buttonNewReport"}}</a>
					{{/hasPerms}}
	            </div>
	            <div class="box-body">
					<div class="advancedSearchResults">
					    <table class="wholesalerperformancelisttable tableview table table-bordered" data-sshash-base='wholesalerPerformanceReportList'>
		       	    	</table>
		        	</div>
	            </div>
	        </div>
	    </div>
	</script>

	<script id="wholesalerperformance">
	    <div class="datatablesview">
	        <div class="box">
				<div id="dtButtonBarTemplate" style="display:none;">
					{{!-- {{#hasPerms "Batch_Download"}} --}}
						<!-- <button class="btn btn-primary exportReportButton" role="button">{{i18n "global.exportBtn"}}</button> -->
					{{!-- {{/hasPerms}} --}}
	            </div>
	            <div class="box-body">
	            
		            <div class="advancedSearchForm">
					<form id="searchform" name="searchForm" class="form-horizontal">
			        <div>
			            <div>
								<div class="row" style="border-bottom:1px solid #e0e0e0; margin-bottom:15px;">
									<div class="col-sm-6">
										{{>modalInput name="name" label="reports.saveName" hint="reports.saveNameHint" className="novalidate" value=this.name}}
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-xs-4 col-sm-4 control-label">{{i18n "reports.saveDescription"}}</label>
											<div class="col-xs-8 col-sm-8">
												<textarea id="description" type="text" name="description" rows="2" class="form-control novalidate" placeholder='{{i18n "reports.saveDescriptionHint"}}'>{{this.description}}</textarea>
											</div>
										</div>								
									</div>
								</div>	
								<div class="row">
									<div class="col-sm-6">
										<div class="row" style="margin-bottom:15px;">
												<label for="period" class="col-xs-4 col-sm-4 control-label">{{i18n "reports.searchPeriod"}}</label>
												<div class="col-xs-3 col-sm-3">
													{{>modalSelectNoLabel name="period" className="novalidate" data="CURRENT_DAY:reports.period.today,PREVIOUS_DAY:reports.period.yesterday,CURRENT_WEEK:reports.period.thisWeek,PREVIOUS_WEEK:reports.period.lastWeek,CURRENT_MONTH:reports.period.thisMonth,PREVIOUS_30DAYS:reports.period.last30Days,PREVIOUS_MONTH:reports.period.lastMonth,CURRENT_YEAR:reports.period.thisYear,PREVIOUS_YEAR:reports.period.lastYear,:reports.period.custom" }}
												</div>
												<div class="col-xs-5 col-sm-5">
													<div id="period-custom-range" class="row" style="display:none;">
														<div class="col-xs-6">
															<input id="date-from" type="text" name="dateFrom" class="form-control novalidate" placeholder="YYYY-MM-DD" data-date-format="yyyy-mm-dd" value="{{this.dateFrom}}"  />
														</div>
														<div class="col-xs-6">
															<input id="date-to" type="text" name="dateTo" class="form-control novalidate" placeholder="YYYY-MM-DD" data-date-format="yyyy-mm-dd" value="{{this.dateTo}}" />
														</div>
													</div>	
												</div>
										</div>	
					            		
										<div class="form-group">
											<label class="col-xs-6 col-sm-5 col-md-4 control-label ">{{i18n "reports.searchDisposition"}}</label>
											<div class="col-xs-6 col-sm-7 col-md-8 " data-default="unknown">
												<select id="disposition" name="disposition" class="form-control novalidate" aria-invalid="false">
													<option value="outbound">{{i18n "reports.searchDispositionOutbound"}}</option>
													<option value="inbound">{{i18n "reports.searchDispositionInbound"}}</option>
												</select>
											</div>
										</div>
									</div>
									
									<div class="col-sm-6">
										{{>modalSelectTDS name="transactionType" className="novalidate" label="reports.searchTransactionType"  data=":reports.transactionTypeAll,TRANSFER:reports.transactionTypeTransfer,SELF_TOPUP:reports.transactionTypeSelfTopup,REVERSE:reports.transactionTypeReverse,ADJUST:reports.transactionTypeAdjust,PROMOTION_REWARD:reports.transactionTypePromotionReward,ADJUDICATE:reports.transactionTypeAdjudicate" }}
										{{>modalSelectTDS name="transactionStatus" className="novalidate" label="reports.searchTransactionStatus"  data=":reports.transactionStatusAll,true:reports.transactionStatusSuccess,false:reports.transactionStatusFail" }}
									</div>	
								</div>
			            </div>
						<div class="" style="border-top:1px solid #eaeaea; padding-top:10px; margin-bottom:20px;">
			  			  	<div class="form-group">
					        	<div class="pull-right">
		           			 		<button type="submit" class="btn btn-primary viewReportButton">{{i18n "global.previewBtn"}}</button>
									{{#hasPerms "Reports_Update"}}
					           		<button type="button" class="btn btn-primary saveReportButton">{{i18n "global.saveBtn"}}</button>
									{{/hasPerms}}
					           		<!-- <button type="button" class="btn btn-primary scheduleReportButton">{{i18n "global.scheduleBtn"}}</button> -->
					           		<button type="button" class="btn btn-primary exportReportButton">{{i18n "global.exportBtn"}}</button>
									<button type="button" class="btn btn-primary editReportButton">{{i18n "global.editBtn"}}</button>
					           		<button type="button" class="btn btn-default resetReportButton">{{i18n "global.clearBtn"}}</button>
									<button type="button" class="btn btn-default cancelReportButton">{{i18n "global.cancelBtn"}}</button>
									&nbsp;&nbsp;&nbsp;
								</div>
								<div id="report-error-message" class="pull-right" style="display:none;">
									<div id="error_general_message" class="alert alert-danger" style="padding:6px 15px; margin-right:20px;">{{i18n "reports.messageSaveFailed"}}</div>
								</div>
								<div id="report-saved-message" class="label label-success pull-right" style="margin-right:20px; padding:10px; font-size:14px; display:none;">{{i18n "reports.messageSaveSuccess"}}</div>
					    	</div>
						</div>
			        </div>
					</form>	
			    </div>
			    <div class="advancedSearchResults">
				    <table class="wholesalerperformancetable tableview table table-bordered table-hover table-striped" data-sshash-base='wholesalerPerformanceReport/{{this.id}}'>
		            </table>
		        </div>
	            </div>
	        </div>
	    </div>
	</script>	

	<!-- ACCOUNT BALANCE SUMMARY REPORT -->

	<script id="accountbalancesummarylist">
	    <div class="datatablesview">
	        <div class="box">
				<div id="dtButtonBarListTemplate" style="display:none;">
					{{#hasPerms "Reports_Add"}}
						<a class="btn btn-primary routerlink" href="#accountBalanceSummaryReport">{{i18n "reports.accountBalanceSummaryList.buttonNewReport"}}</a>
					{{/hasPerms}}
	            </div>
	            <div class="box-body">
					<div class="advancedSearchResults">
					    <table class="accountbalancesummarylisttable tableview table table-bordered" data-sshash-base='accountBalanceSummaryReportList'>
		       	    	</table>
		        	</div>
	            </div>
	        </div>
	    </div>
	</script>

	<script id="accountbalancesummary">
	    <div class="datatablesview">
	        <div class="box">
				<div id="dtButtonBarTemplate" style="display:none;">
					{{!-- {{#hasPerms "Batch_Download"}} --}}
						<!-- <button class="btn btn-primary exportReportButton" role="button">{{i18n "global.exportBtn"}}</button> -->
					{{!-- {{/hasPerms}} --}}
	            </div>
	            <div class="box-body">
	            
		            <div class="advancedSearchForm">
					<form id="searchform" name="searchForm" class="form-horizontal">
			        <div>
			            <div>
								<div class="row" style="border-bottom:1px solid #e0e0e0; margin-bottom:15px;">
									<div class="col-sm-6">
										{{>modalInput name="name" label="reports.saveName" hint="reports.saveNameHint" className="novalidate" value=this.name}}
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-xs-4 col-sm-4 control-label">{{i18n "reports.saveDescription"}}</label>
											<div class="col-xs-8 col-sm-8">
												<textarea id="description" type="text" name="description" rows="2" class="form-control novalidate" placeholder='{{i18n "reports.saveDescriptionHint"}}'>{{this.description}}</textarea>
											</div>
										</div>								
									</div>
								</div>	
							
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<div class="col-xs-4"></div>
											<div class="col-xs-8" style="padding-top:8px;">
												<input id="includeZeroBalance" name="includeZeroBalance" class="custom-checkbox-fa" value="{{#ifCond this.includeZeroBalance "==" "1"}}1{{/ifCond}}" {{#ifCond this.includeZeroBalance "==" "1"}}checked="checked"{{/ifCond}} type="checkbox">
												<label for="includeZeroBalance">{{i18n "reports.searchIncludeZeroBalance"}}</label>
											</div>
										</div>
									</div>
									
								</div>
			            </div>
						<div class="" style="border-top:1px solid #eaeaea; padding-top:10px; margin-bottom:20px;">
			  			  	<div class="form-group">
					        	<div class="pull-right">
		           			 		<button type="submit" class="btn btn-primary viewReportButton">{{i18n "global.previewBtn"}}</button>
									{{#hasPerms "Reports_Update"}}
					           		<button type="button" class="btn btn-primary saveReportButton">{{i18n "global.saveBtn"}}</button>
									{{/hasPerms}}
					           		<!-- <button type="button" class="btn btn-primary scheduleReportButton">{{i18n "global.scheduleBtn"}}</button> -->
					           		<button type="button" class="btn btn-primary exportReportButton">{{i18n "global.exportBtn"}}</button>
									<button type="button" class="btn btn-primary editReportButton">{{i18n "global.editBtn"}}</button>
					           		<button type="button" class="btn btn-default resetReportButton">{{i18n "global.clearBtn"}}</button>
									<button type="button" class="btn btn-default cancelReportButton">{{i18n "global.cancelBtn"}}</button>
									&nbsp;&nbsp;&nbsp;
								</div>
								<div id="report-error-message" class="pull-right" style="display:none;">
									<div id="error_general_message" class="alert alert-danger" style="padding:6px 15px; margin-right:20px;">{{i18n "reports.messageSaveFailed"}}</div>
								</div>
								<div id="report-saved-message" class="label label-success pull-right" style="margin-right:20px; padding:10px; font-size:14px; display:none;">{{i18n "reports.messageSaveSuccess"}}</div>
					    	</div>
						</div>
			        </div>
					</form>	
			    </div>
			    <div class="advancedSearchResults">
				    <table class="accountbalancesummarytable tableview table table-bordered table-hover table-striped" data-sshash-base='accountBalanceSummaryReport/{{this.id}}'>
		            </table>
		        </div>
	            </div>
	        </div>
	    </div>
	</script>	

	<!-- SCHEDULE DIALOG -->
	
	<script id="scheduledialogview">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-remove"></i> </button>
		    <h4 class="modal-title">{{{dialogTitle}}}</h4>
		</div>
		<div class="modal-body">
			<div class="scheduledetails form-panel">
				<form name="scheduleDetails" class="form-horizontal">
					<div class="row" style="padding-bottom:15px;">
						<label class="col-xs-4 control-label">{{i18n "reports.report"}}</label>
						<div class="col-xs-8">
							<label id="report-name" class="control-label">{{this.reportName}}</label>
						</div>
					</div>	
					<div class="row">
						<div class="col-sm-12">
							{{>modalInput name="description" label="reports.schedule.description" hint="reports.schedule.descriptionHint" value=this.description}}
						</div>
					</div>	
					
					<div class="row form-group required">
						<label class="col-xs-4 control-label">{{i18n "reports.schedule.period"}}</label>
						<div class="col-xs-8">
							<select id="period" name="period" class="form-control">
							   	<option value="HOUR">{{i18n "reports.schedule.periodHOUR"}}</option>
							   	<option value="DAY">{{i18n "reports.schedule.periodDAY"}}</option>
							   	<option value="WEEK">{{i18n "reports.schedule.periodWEEK"}}</option>
							   	<option value="MONTH">{{i18n "reports.schedule.periodMONTH"}}</option>
							</select>
						</div>
					</div>
					
					<div id="timeBlock" class="row form-group" style="display:none;">
						<label class="col-xs-4 control-label">{{i18n "reports.schedule.timeOfDay"}}</label>

						<div class="col-xs-8">
							<div class="row">
								<div class="col-xs-6">
									{{>modalInputField name="timeOfDayString" label="reports.schedule.timeOfDay" hint="reports.schedule.timeOfDayHint"}}
								</div>
							</div>
						</div>
					</div>
					
					<div id="timeIntervalBlock" class="row form-group">
						<label class="col-xs-4 control-label">{{i18n "reports.schedule.timeInterval"}}</label>

						<div class="col-xs-8">
							<div class="row">
								<div class="col-xs-6">
									{{>modalInputField name="startTimeOfDayString" label="reports.schedule.startTimeOfDay" hint="reports.schedule.startTimeOfDayHint"}}
								</div>
								<div class="col-xs-6">
									{{>modalInputField name="endTimeOfDayString" label="reports.schedule.endTimeOfDay" hint="reports.schedule.endTimeOfDayHint"}}
								</div>
							</div>
						</div>
					</div>
				
					<div class="row channel-selection">
						<label class="col-xs-4 control-label">{{i18n "reports.schedule.deliveryChannels"}}</label>
						
						<div class="col-xs-8">
							<div class="form-group row" style="margin-bottom:0;">
								<div class="col-xs-12" style="padding-top:8px;">
									<input id="deliveryChannelEmail" name="deliveryChannelEmail" class="delivery-channel custom-checkbox-fa" value="true" {{#if this.deliveryChannelEmail}}checked="checked"{{/if}} type="checkbox">
									<label for="deliveryChannelEmail">{{i18n "reports.schedule.deliveryChannelEmail"}}</label>
									&nbsp;&nbsp;&nbsp;
									<input id="deliveryChannelSms" name="deliveryChannelSms" class="delivery-channel custom-checkbox-fa" value="true" {{#if this.deliveryChannelSms}}checked="checked"{{/if}} type="checkbox">
									<label for="deliveryChannelSms">{{i18n "reports.schedule.deliveryChannelSms"}}</label>
								</div>
								<div id="deliveryChannelError" class="col-xs-12 help-block" style="display:none; position:relative; top:-7px;">{{i18n "reports.schedule.deliveryChannelNotSelected"}}</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<label class="col-xs-4 control-label">&nbsp;</label>
						
						<div class="col-xs-8">
							<div class="form-group" style="margin-bottom:0;">
								<div class="col-xs-12" style="padding-top:8px;">
									<input id="emailToAgent" name="emailToAgent" class="custom-checkbox-fa" value="" {{#if this.emailToAgent}}checked="checked"{{/if}} type="checkbox">
									<label for="emailToAgent">{{i18n "reports.schedule.emailToAgent"}}</label>
								</div>
							</div>
						</div>
					</div>	

					<div class="row form-group">
						<label class="col-xs-4 control-label">{{i18n "reports.schedule.webUsers"}}</label>
						
						<div class="col-xs-8">
							<div style="margin-bottom:5px;">
								<input id="user-filter-input" class="form-control" type="text" placeholder="{{i18n "reports.schedule.webUserFilterHint"}}" value=""/>
							</div>
							<div id="agent-users-list" style="height:154px; overflow:auto; padding:5px 10px; border:1px solid #e0e0e0;">
								{{#each userList}}
								{{#ifCond state "!=" "P"}}
								<div class="agent-user-div">
								 	<input id="agent-user-{{id}}" name="agentUserIds[]" value="{{id}}" class="agent-user-selector custom-checkbox-fa" type="checkbox"/>
								 	<label for="agent-user-{{id}}">{{firstName}} {{surname}}</label>
								</div>
							  	{{/ifCond}}
							  	{{/each}}
							</div>
							<div style="margin-top:5px;">
								Showing <strong><span id="agent-users-shown"></span></strong> of <strong><span id="agent-users-total"></span></strong> users, <strong><span id="agent-users-selected"></span></strong> users selected.
							</div>
						</div>
					</div>	
					
					<div class="row form-group">
						<label class="col-xs-4 control-label">{{i18n "reports.schedule.recipientEmails"}}</label>
						<div class="col-xs-8">
							<div id="recipientEmailTemplate" style="display:none;">
							<div class="row">
								<div class="col-xs-12" style="padding-bottom:5px;">
									<div class="input-group">
										<input name="" class="form-control novalidate" value="" placeholder='{{i18n "reports.schedule.recipientEmailsHint"}}' type="email">
										<span class="input-group-btn">
											<a class="btn btn-default scheduleRemoveRecipientButton" type="button"><i class="fa fa-times fa-fw"></i></a>
										</span>
									</div>
								</div>
							</div>	
							</div>
							<div id="recipientEmailsList">
							{{#each this.recipientEmails}}
							<div class="row">
								<div class="col-xs-12" style="padding-bottom:5px;">
									<div class="input-group">
										<input name="recipientEmails[]" class="form-control novalidate" value="{{this}}" placeholder='{{i18n "reports.schedule.recipientEmailsHint"}}' type="email">
										<span class="input-group-btn">
											<a class="btn btn-default scheduleRemoveRecipientButton" type="button"><i class="fa fa-times fa-fw"></i></a>
										</span>
									</div>
								</div>
							</div>	
							{{/each}}
							</div>
		        			<button type="button" class="btn btn-primary scheduleAddRecipientEmailButton">{{i18n "reports.schedule.addRecipientButton"}}</button>
						</div>
					</div>	

					<hr/>
							
					<div class="row">
						<label class="col-xs-4 control-label">&nbsp;</label>
						
						<div class="col-xs-8">
							<div class="form-group" style="margin-bottom:0;">
								<div class="col-xs-12" style="padding-top:8px;">
									<input id="scheduleActive" name="enabled" class="custom-checkbox-fa" value="" {{#if this.enabled}}checked="checked"{{/if}} type="checkbox">
									<label for="scheduleActive">{{i18n "reports.schedule.scheduleEnabled"}}</label>
								</div>
							</div>
						</div>
					</div>	
				</form>
			</div>
		</div>
		<div class="modal-footer">
		    <div class="row form-group">
		        <div class="col-xs-12">
		        	<button type="button" class="btn btn-primary scheduleSubmitButton">{{i18n "reports.schedule.createButton"}}</button>
		        	<button type="button" class="btn btn-default" data-dismiss="modal">{{i18n "reports.schedule.cancelButton"}}</button>
		        </div>
			</div>
		</div>
	</script>

	<!-- SCHEDULE EXECUTE DIALOG -->
	
	<script id="scheduleexecutedialogview">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-remove"></i> </button>
		    <h4 class="modal-title">{{{dialogTitle}}}</h4>
		</div>
		<div class="modal-body">
			<div class="scheduledetails form-panel">
				<form name="scheduleDetails" class="form-horizontal">
					<div class="row" style="padding-bottom:15px;">
						<label class="col-xs-4 control-label">{{i18n "reports.report"}}</label>
						<div class="col-xs-8">
							<label id="report-name" class="control-label">{{this.reportName}}</label>
						</div>
					</div>	
					<div class="row form-group required">
						<label class="col-xs-4 control-label">{{i18n "reports.schedule.referenceDate"}}</label>
						<div class="col-xs-3">
							<input type="text" id="referenceDt" name="referenceDt" class="form-control" placeholder="{{i18n "reports.schedule.referenceDateHint"}}"/>
						</div>
						<div class="col-xs-3">
							<input type="text" id="referenceTm" name="referenceTm" class="form-control" placeholder="{{i18n "reports.schedule.referenceDateHint"}}"/>
						</div>
						<label class="col-xs-2 form-control-static">UTC</label>
					</div>	
				</form>

			</div>
		</div>
		<div class="modal-footer">
			<div id="execution-result" class="row" style="text-align:center; display:none;">
				<div class="col-xs-12">
					<div class="alert alert-success"></div>
				</div>
			</div>
		    <div class="row form-group">
		        <div class="col-xs-12">
		        	<button type="button" class="btn btn-primary executeSubmitButton">{{i18n "reports.schedule.executeButton"}}</button>
		        	<button type="button" class="btn btn-default" data-dismiss="modal">{{i18n "reports.schedule.cancelButton"}}</button>
		        </div>
			</div>
		</div>
	</script>

</div>
